{% extends "base.html" %}

{% block title %}
О магазине
{% endblock %}

{% block content %}
<div class="about", align="center">
<h2>О магазине</h2>
        <ul class="list-unstyled text-medium", align="left" >
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Команда</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Наши магазины</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Юридическая информация</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Закон о защите потребителей</a></li>
        </ul>
</div>
{% endblock %}