<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
     <h1>Добро пожаловать</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/category">Категории</a></li>
                <li><a href="/about">О магазине</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
    <footer>
        &copy; 2023 My Shop
    </footer>

</html>